<!DOCTYPE html>
<html class="x-admin-sm" lang="en">
    <script src="jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <body>
        <div class="x-nav">
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" onclick="xadmin.open('新增主菜单','newmenu_add.html','600','350')" lay-filter="sreach"><i class="layui-icon">&#xe608;</i>添加</button>
                        </div>
                    <hr>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                          <thead>
                            <tr>
                              <th width="70">ID</th>
                              <th>菜单名称</th>
                              <th width="220">使用者</th>
                              <th width="80">状态</th>
                              <th width="250">操作</th>
                          </thead>
                          <tbody class="x-cate">
                            {volist name="data" id="vo"}
                            <tr cate-id= {$vo.id} fid={$vo.parentid} >
                              <td>{$vo.id}</td>
                              <td>
                                {$vo.tab}
                                <i class="layui-icon x-show" status='true'>&#xe623;</i>{$vo.name}
                              </td>
                              <td>
                                  {$vo.username}
                              </td>
                              <td onclick="menu_check(this,'{$vo.id}')">
                                <input type="checkbox" lay-skin="switch" lay-text="启用|关闭" {$vo.checked} >
                                <script>
                                    /*菜单-check*/
                                  function menu_check(obj,id){
                                      console.log("hello");
                                      console.log(id);
                                      layer.confirm('确认要更改吗？',function(index){
                                                //发异步删除数据
                                            $.get("{:url('menu_check')}",{id:id});
                                                layer.msg('已更改!',{icon:1,time:1000});
                                            });
                                   }
                                </script>
                              </td>
                              <td class="td-manage">
                                    <button class="layui-btn layui-btn layui-btn-xs"  onclick="menu_edit('编辑菜单',this,'menu_edit','460','400','{$vo.id}','{$vo.name}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                    <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="xadmin.open('编辑','menu_add.html'+'?id='+{$vo.id},460,350)" ><i class="layui-icon">&#xe642;</i>添加子栏目</button>
                                    <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="menu_del(this,'{$vo.id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                  </td>
                            </tr>
                            {/volist} 
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script>

      layui.use(['form'], function(){
        form = layui.form;
        
      });
      
     
       /*用户-删除*/
      function menu_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.get("{:url('menu_del')}",{id:id});
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }
        /*用户-编辑*/
        function menu_edit(title,obj,url,w,h,id,name){
            console.log("hello")
            xadmin.open(title,url+'?id='+id+'&name='+name,w,h);
        }
      // 分类展开收起的分类的逻辑
      // 
      $(function(){
        $("tbody.x-cate tr[fid!='0']").hide();
        // 栏目多级显示效果
        $('.x-show').click(function () {
            if($(this).attr('status')=='true'){
                $(this).html('&#xe625;'); 
                $(this).attr('status','false');
                cateId = $(this).parents('tr').attr('cate-id');
                $("tbody tr[fid="+cateId+"]").show();
           }else{
                cateIds = [];
                $(this).html('&#xe623;');
                $(this).attr('status','true');
                cateId = $(this).parents('tr').attr('cate-id');
                getCateId(cateId);
                for (var i in cateIds) {
                    $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                }
           }
        })
      })

      var cateIds = [];
      function getCateId(cateId) {
          $("tbody tr[fid="+cateId+"]").each(function(index, el) {
              id = $(el).attr('cate-id');
              cateIds.push(id);
              getCateId(id);
          });
      }

        </script>
    </body>
</html>
