<!doctype html>
<html lang="en">
<body>
            <!-- 右侧内容框架，更改从这里开始 -->
            
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">修改密码</a></legend>
            </fieldset>
            <form class="layui-form layui-form-pane" method="post" action="do_set_pw">
            
            
            <label class="login-title" for="password">旧密码</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="password" name="password" lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <label class="login-title" for="password">新密码</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="password" name="newpassword" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
                <button class="btn btn-warning pull-right" type="submit">确认修改</button>  
        </form>
        <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    
    
    <!-- 背景切换结束 -->
    
</body>
</html>